*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}
.top-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 25vh;
    width: 100vw;
    justify-content: center;
    gap: 20px;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#book-input[open]{
    display: flex;
    flex-direction: column;
    top: 2vh;
}
.book-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    border: 1px dotted blue;
    height: auto;
    width: auto;
}
button {
    width: 90px;
}
form{
    display: flex;
    flex-direction: column;
}
.console-log{
    display: flex;
    place-content: center;
    height: 50px;
    width: 100px;
}