*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 20px;
}
.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5vh;
    width: 30vw;
    justify-content: center;
    gap: 20px;
}
#book-input{
    position: absolute;
    top: 10vh;

    justify-content: center;
    border: 1px solid black;
    height: auto;
    width: 30vw;
}
.book-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    border: 1px dotted blue;
    height: auto;
    width: auto;
}
button {
    width: 90px;
}
form{
    display: flex;
    flex-direction: column;
}